# Ignore Python cache and virtual environments
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.venv/
# Ignore git and data files
.git/
.gitignore
*.csv
*.tsv
*.parquet
*.xlsx
*.h5
*.db
# Ignore Jupyter and VSCode settings
.ipynb_checkpoints/
.vscode/
# Ignore OS files
.DS_Store
# Ignore processed data files
# data/processed/*
!.gitkeep

# Ignore Airflow state, logs, and database files
airflow/airflow.db
airflow/airflow.cfg
airflow/airflow-webserver.pid
airflow/webserver_config.py
airflow/logs/
airflow/*.log

# Only include dags and .gitkeep
!airflow/dags/
!airflow/dags/**
!airflow/.gitkeep

# Ignore Airflow log files at project root
airflow-webserver.log
airflow-scheduler.log

# Ignore Python cache in airflow/dags
airflow/dags/__pycache__/
airflow/dags/**/*.pyc
