*.pyc
__pycache__/
.env
data/processed/*
!.gitkeep
.venv/
venv/
notebooks/.ipynb_checkpoints/*

# Ignore all Airflow state, logs, and database files
airflow/airflow.db
airflow/airflow.cfg
airflow/airflow-webserver.pid
airflow/webserver_config.py
airflow/logs/
airflow/*.log

# Ignore pytest/coverage output
.coverage

# Ignore everything in airflow except the dags directory and .gitkeep
airflow/*
!airflow/dags/
!airflow/dags/**
!airflow/.gitkeep
