*.pyc
__pycache__/
.env
data/processed/*
!.gitkeep
.venv/
venv/
notebooks/.ipynb_checkpoints/*

# Ignore all Airflow state, logs, and database files
airflow/airflow.db
airflow/airflow.cfg
airflow/airflow-webserver.pid
airflow/webserver_config.py
airflow/logs/
airflow/*.log

# Ignore all files in airflow except dags and .gitkeep
airflow/*
!airflow/dags/
!airflow/.gitkeep

# Ignore Airflow log files at project root
airflow-webserver.log
airflow-scheduler.log
